<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Todo Page</title>
</head>
<body>

<h1  class="mainheader">TODOS FOR TODAY</h1>
<a href="/todo/add">Add new todo</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todolist}">

        <td class="idrow" th:text="${todo.id}"></td>
        <td class="titlerow" th:text="${todo.title}"></td>
        <td class="donerow" th:text="${todo.done}"></td>
        <td class="urgentrow" th:text="${todo.urgent}"></td>

        <!--<td th:switch="${account.isGoodGuy()}">
            <span th:case="true">Good one</span>
            <span th:case="false">Bad guy</span>
        </td>-->


    </tr>
    </tbody>
</table>




<!--<div>
    <ul th:each="todo : ${todolist}">
        <li th:text="${todo.title}"></li>
    </ul>
</div>-->


</body>
</html>