<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Color page</title>
</head>
<body>

    <a href="/useful/colored">Random color</a>
    <a href="/useful/email?email=is@this.valid">Email page</a>
    <a href="/useful/encoding?encodethis=example&codenumber=1">Encoding page</a>
    <a href="/useful/decoding?encodethis=fybnqmf&codenumber=-1">Decoding page</a>

</body>
</html>