<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="/styles.css">-->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Todo Page</title>
</head>
<body>
<div class="container-fluid">

    <h1 class="text-center">Details for Assignee:</h1>

    <div>
        <form method="post" action="/todo/search">
            <input type="search" placeholder="Search here..." name="search">
            <input class="btn btn-success" type="submit" value="Search">
        </form>
    </div>

    <div class="text-center">
        <a class="btn btn-default" href="/todo/list">List of Todos</a>
        <a class="btn btn-default" href="/todo/add">Add new todo</a>
        <a class="btn btn-default" href="/todo/assignees">List of Assignees</a>
    </div>
    <br>
    <h3 th:text="|List of todos assigned to ${assignee.name}:|"></h3>
    <br>
    <table class="col-lg-12 table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th class="text-center">DONE</th>
            <th class="text-center">URGENT</th>
           <!-- <th class="text-center">DUE DATE</th>
            <th class="text-center">DATE OF CREATION</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td class="row" th:text="${todo.id}"></td>
            <td class="row" th:text="${todo.title}"></td>
            <td class="row" th:text="${todo.description}"></td>
            <td class="row text-center" th:if="${todo.done}"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="row text-center" th:unless="${todo.done}"><span class="glyphicon glyphicon-remove"></span></td>
            <td class="row text-center" th:if="${todo.urgent}"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="row text-center" th:unless="${todo.urgent}"><span class="glyphicon glyphicon-remove"></span></td>
            <td>
                <form action="#" th:action="@{|/todo/${todo.id}/delete|}" th:method="delete">
                    <button class="row btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
            <td>
                <a class="row btn btn-warning" th:href="@{'/todo/' + ${todo.id} + '/update'}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>