<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Update Todo</title>
</head>
<body class="updatepadding">

<h1>Edit Todo:</h1>

<form th:method="put" action="#" th:action="@{'/todo/' + ${id}+ '/update'}" th:object="${todotoedit}">
    <label for="title">Todo title</label>
    <input type="text" maxlength="30" placeholder="max 30 characters..." id="title" th:field="*{title}" required/>
    <br>
    <label for="description">Todo description</label>
    <input type="text" maxlength="230" placeholder="max 230 characters..." id="description" th:field="*{description}"/>
    <br>
    <label for="duedate">Due Date</label>
    <input type="date" id="duedate" th:field="*{dueDate}">
    <br>
    <div class="urgentform">
        <label for="urgent">Urgent</label>
        <input type="radio" value="true" id="urgent" th:field="*{urgent}">
        <label for="noturgent">Not urgent</label>
        <input type="radio" value="false" id="noturgent" th:field="*{urgent}">
    </div>

    <label for="doneCheckbox">Done</label>
    <input type="checkbox" id="doneCheckbox" th:field="*{done}">
    <br>
    <h4 class="redtext" th:if="${todotoedit.assignee!=null}"
        th:text="|This Todo is currently assigned to: ${todotoedit.assignee.name}|"></h4>

    <div th:if="${todotoedit.assignee!=null}">
        <label>Assign to:
            <select name="assigneeId">
                <option class="italictext" th:value=-1>unassigned...</option>
                <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"
                        th:selected="${assignee.name == todotoedit.assignee.name}"></option>
            </select>
        </label>
    </div>

    <div th:if="${todotoedit.assignee==null}">
        <label>Assign to:
            <select name="assigneeId">
                <option class="italictext" th:value=-1>unassigned...</option>
                <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
            </select>
        </label>
    </div>

    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Save Todo">
</form>

<div class="cancelbutton">
    <a class="btn btn-warning" href="/todo/">Cancel</a>
</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>