<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Webshop</title>
</head>
<body>

<h1><a href="/webshop">My Shop</a></h1>
<hr>

<div class="webshopMainBox">
    <nav class="navbar">
        <a href="/only-available" style="text-decoration:none" target="blank">ONLY AVAILABLE</a>
        <a href="/cheapest-first" style="text-decoration:none" target="blank">CHEAPEST FIRST</a>
        <a href="/contains-nike" style="text-decoration:none" target="blank">CONTAINS NIKE</a>
        <a href="/average-stock" style="text-decoration:none" target="blank">AVERAGE STOCK</a>
        <a href="/most-expensive-available" style="text-decoration:none" target="blank">MOST EXPENSIVE AVAILABLE</a>
    </nav>

    <p class="result" th:text="${result}"></p>

</div>

</body>
</html>