<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Webshop</title>
</head>
<body>

<h1><a href="/webshop">My Shop</a></h1>
<hr>

<div class="webshopMainBox">
    <nav class="navbar">
        <a href="/webshop/only-available" style="text-decoration:none" target="blank">ONLY AVAILABLE</a>
        <a href="/webshop/cheapest-first" style="text-decoration:none" target="blank">CHEAPEST FIRST</a>
        <a href="/webshop/contains-nike" style="text-decoration:none" target="blank">CONTAINS NIKE</a>
        <a href="/webshop/average-stock" style="text-decoration:none" target="blank">AVERAGE STOCK</a>
        <a href="/webshop/most-expensive-available" style="text-decoration:none" target="blank">MOST EXPENSIVE
            AVAILABLE</a>
    </nav>


    <form class="formbox" method="POST" action="/webshop/search">
        <label class="searchLabel" for="searchbox">Search for: </label>
        <br>
        <div class="searchDiv">
            <input id="searchbox" type="search" name="searchField" placeholder="something like nike...">
            <input class="submitButton" type="submit" value="Search">
        </div>
    </form>


    <div>
        <table>
            <thead>
            <tr>
                <th class="thName">Name</th>
                <th class="thDescription">Description</th>
                <th class="thPrice">Price</th>
                <th class="thQuantity">Quantity of Stock</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td class="nameField" th:text="${item.getName()}"></td>
                <td class="descriptionField" th:text="${item.getDescription()}"></td>
                <td class="priceField" th:text="${item.getPrice()} + ' Ft'"></td>
                <td class="quantityField" th:text="${item.getQuantity()}"></td>
            </tr>
            </tbody>

        </table>
    </div>


</div>

</body>
</html>