<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

    <div th:fragment="upperNavigationBar">
        <h1><a href="/webshop">My Shop</a></h1>
        <hr>

        <nav class="navbar">
            <a href="/webshop/only-available">ONLY AVAILABLE</a>
            <a href="/webshop/cheapest-first">CHEAPEST FIRST</a>
            <a href="/webshop/contains-nike">CONTAINS NIKE</a>
            <a href="/webshop/average-stock">AVERAGE STOCK</a>
            <a href="/webshop/most-expensive-available">MOST EXPENSIVE AVAILABLE</a>
        </nav>
    </div>


    <div th:fragment="lowerNavigationBar">
      <nav class="lowernavbar">
          <a href="/webshop/shop-management">Shop Management</a>
          <a href="/webshop/cheapest-first">under constr.</a>
       </nav>
    </div>


    <div th:fragment="managementNavigationBar">
        <h1><a href="/webshop">My Shop</a></h1>
        <hr>

        <nav class="lowernavbar">
            <a href="/webshop/adding-item">ADD ITEM</a>
            <a href="/webshop/cheapest-first">under constr.</a>
        </nav>
    </div>

</body>
</html>