body{
    padding-left: 60px;
    padding-right: 60px;
}

h1{
    margin-bottom: 1px;
}

h1 a{
    font-size: 40px;
    text-decoration: none;
    color: deepskyblue;
    margin-bottom: 0;
}

hr{
    height: 3px;
    background-color: deepskyblue;
    margin-top: 0;
    border-style: hidden;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.navbar a{
    text-decoration:none;
    padding: 10px 20px 10px 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.navbar a:hover{
    padding: 10px 20px 10px 20px;
    background-color: orange;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.formbox{
    padding-top: 30px;
}

.searchLabel{
    color: lightsalmon;
    font-family: "Microsoft PhagsPa";
    font-size: 24px;
}

.searchDiv{
    display: flex;
    justify-content: space-between;
}


#searchbox{
    border: 2px solid red;
    border-radius: 10px;
    width: 78%;
    height: 60px;
    font-size: 30px;
    margin-right: 1%;
}

#searchbox:hover{
    border: 2px solid orange;
    border-radius: 10px;
    width: 78%;
    height: 60px;
    font-size: 30px;
    margin-right: 1%;
}

.submitButton{
    width: 20%;
    padding: 14px 0 13px 0;
    background-color: red;
    border-radius: 10px;
    border-style: hidden;
    color: white;
    font-size: 30px;
}

.submitButton:hover{
    width: 20%;
    padding: 14px 0 13px 0;
    background-color: orange;
    border-radius: 10px;
    border-style: hidden;
    color: white;
    font-size: 30px;
}

table{
    width: 100%;
    padding-top: 30px;
}

.thName{
    width: 30%;
}

.thDescription{
    width: 40%;
}

.thPrice{
    width: 20%;
}

.thQuantity{
    width: 10%;
}

th{
    font-family: "Microsoft PhagsPa";
    color: black;
    background-color: lightskyblue;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

td{
    font-family: Consolas;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.itemRow:hover{
    background-color: lightgrey;
}

.nameField{
    font-size: 30px;
}

.descriptionField{
    font-size: 18px;
}

.priceField{
    font-size: 40px;
}

.quantityField{
    font-size: 40px;
}

.result{
    font-style: italic;
    padding: 40px 0;
    font-size: 40px;
}


.lowernavbar{
    display:flex;
    justify-content: space-between;
}

.lowernavbar a{
    text-decoration:none;
    padding: 10px 20px 10px 20px;
    background-color: darkslategray;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.lowernavbar a:hover{
    padding: 10px 20px 10px 20px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}



.addingItemMainBox input{
    display: block;
}