<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Index page</title>
    <meta charset="utf-8"/>
</head>

<body>
<div>
    <div>
    <a href="/">Information</a>
    </div>

    <div>
    <img src="greenfox.png" alt="A green fox">
    </div>

    <p th:text="'This is Mr. ' + ${actualFox.name} + '. Currently living on ' + ${actualFox.food} + ' and ' + ${actualFox.drink} + '. He knows ' + ${actualFox.listOfTricks.size()} + ' tricks.'"></p>

    <!--He lives on pizza and lemonade. He knows two tricks.-->


    <h2>Known tricks</h2>

    <div th:if="${actualFox.listOfTricks.size()==0}">
        <p th:text="${actualFox.name} + ' does not know any tricks yet.' "></p>
    </div>
    <div th:if="${actualFox.listOfTricks.size()!=0}">
        <ul th:each="trick : ${actualFox.listOfTricks}">
            <li th:text="${trick}"></li>
        </ul>
    </div>



</div>
</body>
</html>