<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
</head>

<body>
<div>

    <h1>Welcome to Programmer Fox Club</h1>
    <p>Please provide a name, so you can associate it to your pet!</p>

    <form action="/login" method="post">Name
        <input type="text" name="name">
        <input type="submit" value="GO">
    </form>


    <p style="color:red" th:if="${already}">You have provided a name that has not been used before, add it as a new one!</p>

</div>
</body>
</html>