<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="/styles.css">-->
    <title>Alias maker</title>
</head>
<body style="padding: 50px">

<p style="color:red" th:if="${servicehelper.isExists()}" th:text="${'Your alias is already in use!'}"></p>
<p th:if="${servicehelper.isSuccess()}" th:text="'Your URL is aliased to ' + ${tempAlias.alias} + ' and your secret code is ' + ${tempAlias.secretNumber}"></p>


<form th:method="post" action="/save-link" th:object="${newalias}">
    <label for="url">URL:</label>
    <br>
    <input type="url" id="url" th:field="*{url}" required/>
    <br>
    <label for="alias">Alias:</label>
    <br>
    <input type="text" id="alias" th:field="*{alias}" required/>
    <br>
    <input type="submit" value="Submit">
</form>


</body>
</html>